@import url('https://fonts.cdnfonts.com/css/doctor-who');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap');
.headerBody {
    position: fixed;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    top: 0;
    width: 100%;
    height: 450px;
    padding: 2% 5%;
    font-family: 'Philosopher', sans-serif;
    font-size: 20px;
    font-weight: 400;
    background: center/cover no-repeat url(/img/background/galifrey.jpg);
}
.headerHeader {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.headerLogo {
    width: 300px;
}
    .headerHeader h1 {
        font-family: 'Doctor Who';
        font-size: 80px;
        color: #003789;
        text-shadow: 0 0 50px #fff5bb;
    }
.headerNav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}
    .headerNav button {
        padding: 10px 20px;
        font-size: 16px;
        border: 2px solid #eae1ad;
        border-radius: 30px;
        background-color: #05146B;
    }
        .headerNav a {
            font-family: 'Philosopher', sans-serif;
            color: #eae1ad;
            text-shadow: 0 0 10px #cfb312;
        }