.body_homePage{
    background: center/cover no-repeat url(/img/background/homePage.jpg);
    color: aqua;
}
.head_logoDoctor {
    max-width : 200px;
    height : auto;
}



.doctors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}