<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="shortcut icon" href="img/logo/Tardis.ico">
    <title>Les Archives du TARDIS</title>
</head>

<body>
    <header class="headerBody">
        <header class="headerHeader">
            <a href="/homePage">
                <img class="headerLogo" src="/img/logo/Doctor-who-logo.png" alt="Logo Doctor Who">
            </a>    
            <h1 class="headerTitle">Les Archives du TARDIS</h1>
        </header>
        <nav class="headerNav">
            <button><a href="#">Les Ennemis</a></button>
            <button><a href="/doctor/list">Les Docteurs</a></button>
            <button><a href="/companion/list">Les Compagnons</a></button>
        </nav>
    </header>