<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.cdnfonts.com/css/doctor-who" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Les Archives du TARDIS</title>
</head>

<body class="body_header">
    <section class="head">
        <img class="head_logoDoctor" src="" alt="Logo Doctor Who">
        <h1 class="head_title">Les Archives du TARDIS</h1>
        <img class="head_logoArchives" src="" alt="Logo Archives du TARDIS">
    </section>
    <nav>
        <a href="">Les Ennemis</a>
        <a href="/doctor/list">Les Docteurs</a>
        <a href="">Les Compagnons</a>
    </nav>
</body>