<%- include('partials/header.ejs') %>

<main>
    <section class="doctors">
        <% companions.forEach(companion => { %>
            <article>
                    <a href="/companion/details/<%= companion.CompanionId %>"><%= companion.CompanionName %></a>
                    <img src="#" alt="#">
                    </a> 
                </article>
        <%})%>
    </section>
</main>










<%- include('partials/footer.ejs') %>