<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Les Archives du TARDIS</title>
</head>

<body class="body_homePage">
    <head>
        <%- include('partials/header.ejs') %>
    </head>
    <main>
        <h1>Bienvenue voyageurs du temps</h1>
    <section class="last">
        <article class="last_news">

        </article>
        <article class="last_episode">

        </article>
        <article class="last_quizz">

        </article>
    </section>
    <section class="anecdote">
        <article class="anecdote_random">
            <img src="" alt="">
            <p>détails</p>
        </article>
    </section>
    </main>
</body>










<%- include('partials/footer.ejs') %>
