<%- include('partials/header.ejs') %>

<div class="body_homePage">
    <main>
        <h1>Bienvenue voyageurs du temps</h1>
    <section class="last">
        <article class="last_news">

        </article>
        <article class="last_episode">

        </article>
        <article class="last_quizz">

        </article>
    </section>
    <section class="anecdote">
        <article class="anecdote_random">
            <img src="" alt="">
            <p>détails</p>
        </article>
    </section>
    </main>
</div>

<%- include('partials/footer.ejs') %>
